body {
	
	margin: 0;

}

.Map {
	
	width: 100vw;
	height: 100vh;

}

.AirportWindow {

	width: 250px;
	text-align: center;
	padding: 15px 0 15px 15px;

	.AirportWindow_icao {

		font-size: 30px;
		font-weight: 500;

	}

	.AirportWindow_name {

		font-size: 20px;
		font-weight: 300;

	}

	.AirportWindow_map {

		width: 100%;
		//min-height: 145px;
		margin-top: 20px;

	}

}

.MapControl {

	text-align: center;
	position: relative;
	background-color: rgb(255, 255, 255);
	padding: 1px 6px;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	cursor: pointer;

}

.MapControl__text {

	color: rgba(0, 0, 0, 0.6);
	font-family: Arial, sans-serif;
	font-size: 11px;
	padding: 8px 5px;
	font-weight: 100;

}